PUID=1001
PGID=1001
TIMEZONE=Europe/Paris
JELLYFIN_CONFIG_PATH=~/jellyfin-config
JELLYFIN_CACHE_PATH=~/jellyfin-cache
DOWNLOAD_PATH=/mnt/data/torrents/
MEDIA_PATH=/mnt/data/media/
DATA_PATH=/mnt/data/
MOVIE_MEDIA_PATH=/mnt/data/media/movies/
TV_MEDIA_PATH=/mnt/data/media/tv/
SERVER_IP=
WG_ADMIN_PASSWORD=

